@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import "tagged.scss";
$main-color: #00897B;
$light: #1abc9c;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: normal;
    color: #B2DFDB;
    outline: none;
    text-decoration: none;
}

a {
    color: #B2DFDB;
    outline: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input {
    box-shadow: none;
    outline: none;
    border: 1px solid #fafafa;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.custom-button {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: url('images/profile.jpg');
    background-position: center;
    background-size: 150px auto;
    background-repeat: no-repeat;
}

.left-container {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    background-color: $main-color;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;

    .left-inside {
        min-height: 420px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;

        i {
            color: #B2DFDB;
            margin-right: 5px;
        }

        .profile-picture {
            min-height: 150px;
        }

        &.hide {
            display: none;
        }

        .action-list {
            width: 170px;
        }
    }

    .hided-inside {
        display: none;

        .profile-picture {
            width: 35px;
            height: 35px;
            min-width: 35px;
            min-height: 35px;
            background-size: 35px auto;
        }

        li {
            i {
                margin-bottom: 10px;
                font-size: 20px;
            }

            &:first-child {
                i {
                    color: #fff;
                }
            }
        }

        &.show {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &.shrink {
        width: 5%;
        transition: width .3s;
        -webkit-transition: width .3s;

        .icon-container {
            justify-content: center;
        }
    }

    .icon-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;

        i {
            font-size: 25px;
            color: #fff;

            &:hover {
                cursor: pointer;
            }

            &.rotate {
                transform: rotate(180deg);
            }
        }
    }

    h2 {
        font-family: 'Roboto';
        font-weight: 200;
        padding-top: 10px;
    }

    .action-list {
        //width: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        list-style-type: none;

        li {
            width: 50%;
            display: flex;
            justify-content: space-between;
            margin: 5px 0 5px 0;

            &:hover {
                cursor: pointer;
            }

            a {
                width: calc(100% - 25px);
                text-align: left;
                text-decoration: none;
            }

            &.active {
                a,
                i {
                    color: #E2E68A;
                }
            }
        }
    }

    .custom-button {
        font-size: 15px;
        margin-top: 20px;
        background-color: #fff;
        color: #95a5a6;

        &:hover {
            background-color: #fafafa;
        }
    }

    &.hide {
        display: none;
    }
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: url('images/profile.jpg');
    background-position: center;
    background-size: 150px auto;
    background-repeat: no-repeat;
}

.right-container {
    width: 80%;
    height: 100%;
    background-color: #fafafa;

    header {
        width: 80%;
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px 0 30px;
        background-color: #fafafa;
        box-shadow: 3px 1px 10px 0 rgba(0, 0, 0, 0.15);

        i {
            color: #95a5a6;

            &:hover {
                cursor: pointer;
            }
        }

        .custom-notification {
            .counter {
                position: absolute;
                background-color: $light;
                border-radius: 12px;
                padding: 1px 5px;
                font-size: 10px;
                top: 15px;
                right: 27px;
            }

            .fa-bell-o {
                font-size: 20px;
                position: relative;
            }

            .notification-dropdown {
                display: none;
                width: 200px;
                position: absolute;
                top: 57px;
                right: 21px;
                z-index: 9999999;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

                &.show {
                    display: block;
                    -webkit-transition: width .3s;
                    -moz-transition: width .3s;
                    transition: width .3s;
                }

                .notification-header {
                    display: flex;
                    height: 35px;
                    justify-content: center;
                    align-items: center;
                    background-color: $main-color;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                .notification-counter {
                    background-color: #fff;
                    border-radius: 12px;
                    padding: 1px 5px;
                    font-size: 10px;
                    margin-left: 10px;
                }

                .triangle {
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid $main-color;
                    position: absolute;
                    top: -10px;
                    right: 22px;
                }

                .notification-body {
                    background-color: #fff;
                }

                .notification-row {
                    padding: 10px 5px 10px 5px;

                    h6 {
                        color: rgb(127, 140, 141);
                    }

                    h5 {
                        color: #4CAF50;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid #95a5a6;
                    }
                }
            }
        }

        .logo {
            h1 {
                font-size: 20px;
                font-weight: 100;
                color: $main-color;
            }
        }

        .search-input {
            display: none;
            width: 88%;
            height: 35px;
            margin-left: 10px;
            padding-left: 10px;
            background-color: #fafafa;
            border-radius: 4px;
            transition: width .3s;
            -webkit-transition: width .3s;

            &.show {
                display: block;
            }
        }
    }

    &.expand {
        width: 95%;

        .trends-navigation {
            right: 99px;
        }

        header {
            width: 95%;
        }
    }
}


.slider-container {
    width: 93%;
    height: calc(100% - 60px);
    border-right: 1px solid $main-color;

    .slider-inside {
        &.is-hidden {
            display: none;
        }
    }
}

.right-main {
    height: calc(100% - 60px);
    margin-top: 60px;
    overflow-x: auto;

    .slider-inside {
        height: 100%;
        width: 97%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid $main-color;
        background-color: #fff;
    }

    .slider-title {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 30px 0 30px 0;

        h1 {
            font-family: 'Abril Fatface', cursive;
            font-size: 35px;
            color: $main-color;
            padding-bottom: 10px;
        }

        h4 {
            padding-top: 5px;
            color: #95a5a6;
        }
    }

    .slider-body {
        align-self: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .slider-buttons {
            padding-top: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            i {
                font-size: 22px;
                margin-right: 5px;
                color: #1abc9c;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .slider-body-description {
            height: calc(100vh - 60px);
            width: 40%;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            p {
                color: $main-color;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .slider-body-images {
            width: 60%;
            padding: 10px;
        }

        .slider-tags {
            width: 100%;
            height: 40px;
            background-color: $light;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-radius: 5px;
            margin-bottom: 20px;

            h4 {
                color: #fff;

                &:not(:last-child) {
                    padding-right: 8px;
                }
            }
        }
    }

    .slider-inside:nth-child(odd) {
        background-color: #E0F2F1;
    }
}

.navbar {
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

.navbar .nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar .nav-menu li {
    position: relative;
    min-width: 200px;
    padding-bottom: 20px;
    text-align: right;
}

.navbar .nav-menu li .dot {
    display: block;
    color: #fff;
    padding: 5px 0;
}

.navbar .nav-menu li .dot::before,
.navbar .nav-menu li .dot::after {
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    top: 50%;
    transition: all .3s ease;
}

.navbar .nav-menu li .dot::before {
    width: 5px;
    height: 5px;
    right: 0;
    border: 2px solid #181818;
    transform: translateY(-50%);
}

.navbar .nav-menu li .dot::after {
    width: 15px;
    height: 15px;
    border: 2px solid $main-color;
    right: -5px;
    transform: translateY(-50%) scale(0);
}

.navbar .nav-menu li .dot.active::before,
.navbar .nav-menu li:hover .dot::before {
    background: $light;
    border-color: $light;
}

.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after {
    transform: translateY(-50%) scale(1);
}

.line {
    height: calc(100vh - 60px);
    width: 1px;
    background-color: $light;
}

.responsive-image {
    max-width: 100%;
}

.cell img {
    display: block;
}

.modal-title {
    font-weight: 100;
    text-align: center;
    color: $main-color;
}

.comments-container {
    display: flex;
    flex-direction: column;
    padding:10px;
    .comment {
        display: flex;
        align-items: center;
        padding: 20px 10px;
        margin-bottom:20px;
        border-radius: 4px;
        border: 1px solid #95a5a6;

        p {
            width:80%;
            margin: 0;
            padding: 0;
            color: #7f8c8d;
        }
    }

    .profile-picture {
        width: 60px;
        height: 60px;
        min-height: 60px;
        background-size: 60px auto;
        margin-right:15px;
    }
}

@media screen and (min-width: 600px) {
    .grid {
        max-height: 73vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        overflow-x: auto;
    }

    .cell {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .cell {
        width: 50%;
    }
}

@media(max-width:1024) and (orientation:portrait) {
    .left-inside {
        display: none !important;

        &.hide {
            height: 70%;
            display: flex !important;
            justify-content: center;

            .profile-picture {
                width: 250px;
                height: 250px;
                min-height: 250px;
                background-size: 250px, auto;
                margin-bottom: 10px;
            }

            h2 {
                font-size: 75px;
            }
        }
    }
}

@media (max-width:1024px) {
    .navbar {
        display: none;
    }

    .slider-body {
        flex-direction: column;
        width: 100%;

        .slider-body-description {
            width: 100% !important;
        }

        .slider-body-images {
            width: 100% !important;
        }

        .line {
            display: none;
        }
    }

    .left-container {
        width: 5%;

        &.shrink {
            width: 100%;
            transition: width .3s;
            -webkit-transition: width .3s;

            .icon-container {
                justify-content: flex-end;
            }
        }

        .icon-container {
            justify-content: center;

            i {
                transform: rotate(180deg);

                &.rotate {
                    transform: rotate(0deg);
                }
            }
        }
    }

    .right-container {
        width: 95%;

        header {
            width: 95%;
        }

        .slider-container {
            border-right: none;
        }

        &.expand {
            display: none !important;
        }
    }

    .left-inside {
        display: none !important;

        &.hide {
            height: 70%;
            display: flex !important;
            justify-content: center;
        }
    }

    .hided-inside {
        display: flex !important;
        flex-direction: column;

        &.show {
            display: none !important;
        }
    }

    .slider-inside {
        width: 100% !important;
        border-right: none !important;
    }

    .notification-dropdown {
        width: 101vw !important;
        height: 60vh !important;
        top: 0 !important;
        right: 0 !important;
        transition: width 3s;

        .notification-body {
            min-height: 60vh;
            overflow-x: auto;
        }

        .notification-header,
        .notification-row {
            height: 60px !important;
        }

        .notification-row {
            padding: 15px !important;
        }
    }
}
.tag-container {
    display: flex;
    flex-direction: column;
    padding:10px;
    .tag {
        display: flex;
        align-items: center;
        padding: 20px 10px;
        border-radius: 4px;
        width: 50%;
        p {
            width:80%;
            margin: 0;
            padding: 0;
            color: #7f8c8d;
        }
    }

    .profile-picture {
        width: 60px;
        height: 60px;
        background-size: 60px auto;
        margin-right:15px;
    }
    .tag-pair{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}