@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif; }

body {
  margin: 0;
  -webkit-text-size-adjust: 100%; }

/* ----- BUTTONS ----- */
.product-view {
  margin-bottom: 10px;
  padding: 5px;
  text-align: left; }
  .product-view i {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px;
    background: #ddd;
    cursor: pointer;
    user-select: none; }
    .product-view i.active {
      background: #bbb; }

/* ----- GALLERY VIEW ----- */
.products.gallery {
  column-width: 300px;
  column-gap: 5px;
  padding: 0 5px;
  font-size: 0; }
  .products.gallery figure {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0 0 5px 0; }
    .products.gallery figure::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background 300ms; }
    .products.gallery figure img {
      width: 100%;
      height: auto; }
    .products.gallery figure figcaption {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 2;
      width: 100%;
      max-height: 100%;
      padding: 20px;
      font-size: 16px;
      font-weight: 500;
      color: #ddd;
      text-shadow: 0 0 1px #000;
      opacity: 0;
      overflow: auto;
      transition: opacity 500ms; }
    .products.gallery figure:hover {
      cursor: pointer; }
      .products.gallery figure:hover:after {
        background: rgba(0, 0, 0, 0.8); }
      .products.gallery figure:hover figcaption {
        opacity: 1; }

/* ----- LIST VIEW ----- */
.products.list {
  padding: 0 5%; }
  .products.list figure {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 0 auto 40px;
    background: #eee;
    border: 1px solid #ddd; }
    .products.list figure img {
      width: 100%;
      height: auto; }
    .products.list figure figcaption {
      padding: 20px;
      line-height: 1.4; }

.tagged-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: normal;
  color: #B2DFDB; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

input {
  box-shadow: none;
  outline: none;
  border: 1px solid #fafafa; }

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden; }

.custom-button {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px; }
  .custom-button:hover {
    cursor: pointer; }

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: url("images/profile.jpg");
  background-position: center;
  background-size: 150px auto;
  background-repeat: no-repeat; }

.left-container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  background-color: #00897B;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  transition: width .3s; }
  .left-container .left-inside {
    min-height: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; }
    .left-container .left-inside i {
      color: #B2DFDB;
      margin-right: 5px; }
    .left-container .left-inside .profile-picture {
      min-height: 150px; }
    .left-container .left-inside.hide {
      display: none; }
    .left-container .left-inside .action-list {
      width: 170px; }
  .left-container .hided-inside {
    display: none; }
    .left-container .hided-inside .profile-picture {
      width: 35px;
      height: 35px;
      min-width: 35px;
      min-height: 35px;
      background-size: 35px auto; }
    .left-container .hided-inside li i {
      margin-bottom: 10px;
      font-size: 20px; }
    .left-container .hided-inside li:first-child i {
      color: #fff; }
    .left-container .hided-inside.show {
      display: flex;
      flex-direction: column;
      align-items: center; }
  .left-container.shrink {
    width: 5%;
    transition: width .3s;
    -webkit-transition: width .3s; }
    .left-container.shrink .icon-container {
      justify-content: center; }
  .left-container .icon-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px; }
    .left-container .icon-container i {
      font-size: 25px;
      color: #fff; }
      .left-container .icon-container i:hover {
        cursor: pointer; }
      .left-container .icon-container i.rotate {
        transform: rotate(180deg); }
  .left-container h2 {
    font-family: 'Roboto';
    font-weight: 200;
    padding-top: 10px; }
  .left-container .action-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    list-style-type: none; }
    .left-container .action-list li {
      width: 50%;
      display: flex;
      justify-content: space-between;
      margin: 5px 0 5px 0; }
      .left-container .action-list li:hover {
        cursor: pointer; }
      .left-container .action-list li a {
        width: calc(100% - 25px);
        text-align: left;
        text-decoration: none; }
      .left-container .action-list li.active a, .left-container .action-list li.active i {
        color: #E2E68A; }
  .left-container .custom-button {
    font-size: 15px;
    margin-top: 20px;
    background-color: #fff;
    color: #95a5a6; }
    .left-container .custom-button:hover {
      background-color: #fafafa; }
  .left-container.hide {
    display: none; }

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: url("images/profile.jpg");
  background-position: center;
  background-size: 150px auto;
  background-repeat: no-repeat; }

.right-container {
  width: 80%;
  height: 100%;
  background-color: #fafafa; }
  .right-container header {
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    background-color: #fafafa;
    box-shadow: 3px 1px 10px 0 rgba(0, 0, 0, 0.15); }
    .right-container header i {
      color: #95a5a6; }
      .right-container header i:hover {
        cursor: pointer; }
    .right-container header .custom-notification .counter {
      position: absolute;
      background-color: #1abc9c;
      border-radius: 12px;
      padding: 1px 5px;
      font-size: 10px;
      top: 15px;
      right: 27px; }
    .right-container header .custom-notification .fa-bell-o {
      font-size: 20px;
      position: relative; }
    .right-container header .custom-notification .notification-dropdown {
      display: none;
      width: 200px;
      position: absolute;
      top: 57px;
      right: 21px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      .right-container header .custom-notification .notification-dropdown.show {
        display: block; }
      .right-container header .custom-notification .notification-dropdown .notification-header {
        display: flex;
        height: 35px;
        justify-content: center;
        align-items: center;
        background-color: #00897B;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
      .right-container header .custom-notification .notification-dropdown .notification-counter {
        background-color: #fff;
        border-radius: 12px;
        padding: 1px 5px;
        font-size: 10px;
        margin-left: 10px; }
      .right-container header .custom-notification .notification-dropdown .triangle {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #00897B;
        position: absolute;
        top: -10px;
        right: 22px; }
      .right-container header .custom-notification .notification-dropdown .notification-body {
        background-color: #fff; }
      .right-container header .custom-notification .notification-dropdown .notification-row {
        padding: 10px 5px 10px 5px; }
        .right-container header .custom-notification .notification-dropdown .notification-row h6 {
          color: #7f8c8d; }
        .right-container header .custom-notification .notification-dropdown .notification-row h5 {
          color: #4CAF50; }
        .right-container header .custom-notification .notification-dropdown .notification-row:not(:last-child) {
          border-bottom: 1px solid #95a5a6; }
    .right-container header .logo h1 {
      font-size: 20px;
      font-weight: 100;
      color: #00897B; }
    .right-container header .search-input {
      display: none;
      width: 88%;
      height: 35px;
      margin-left: 10px;
      padding-left: 10px;
      background-color: #fafafa;
      border-radius: 4px;
      transition: width .3s;
      -webkit-transition: width .3s; }
      .right-container header .search-input.show {
        display: block; }
  .right-container.expand {
    width: 95%; }
    .right-container.expand .trends-navigation {
      right: 99px; }
    .right-container.expand header {
      width: 95%; }

@keyframes slideLeft {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(20px, 0, 0); }
  50%, 100% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0); } }
.slider-container {
  width: 93%;
  height: calc(100% - 60px);
  border-right: 1px solid #00897B; }
  .slider-container .slider-inside.is-hidden {
    display: none; }

@media (max-width: 1024px) {
  .navbar {
    display: none; }

  .slider-body {
    flex-direction: column;
    width: 100%; }
    .slider-body .slider-body-description {
      width: 100% !important; }
    .slider-body .slider-body-images {
      width: 100% !important; }
    .slider-body .line {
      display: none; }

  .left-container {
    width: 5%; }
    .left-container.shrink {
      width: 100%;
      transition: width .3s;
      -webkit-transition: width .3s; }
      .left-container.shrink .icon-container {
        justify-content: flex-end; }
    .left-container .icon-container {
      justify-content: center; }
      .left-container .icon-container i {
        transform: rotate(180deg); }
        .left-container .icon-container i.rotate {
          transform: rotate(0deg); }

  .right-container {
    width: 95%; }
    .right-container header {
      width: 95%; }
    .right-container .trends-navigation {
      display: none !important; }
    .right-container .slider-container {
      border-right: none; }
    .right-container.expand {
      display: none !important; }

  .left-inside {
    display: none !important; }
    .left-inside.hide {
      display: flex !important; }

  .hided-inside {
    display: flex !important;
    flex-direction: column;
    align-items: center; }
    .hided-inside.show {
      display: none !important; }

  .slider-inside {
    width: 100% !important;
    border-right: none !important; } }
.right-main {
  height: calc(100% - 60px);
  margin-top: 60px;
  overflow-x: auto; }
  .right-main .slider-inside {
    height: 100%;
    width: 97%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #00897B;
    background-color: #fff; }
  .right-main .slider-title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px; }
    .right-main .slider-title h1 {
      font-family: 'Abril Fatface', cursive;
      font-size: 35px;
      color: #00897B;
      padding-bottom: 10px; }
    .right-main .slider-title h4 {
      padding-top: 5px;
      color: #95a5a6; }
  .right-main .slider-body {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .right-main .slider-body .slider-body-description {
      padding: 15px;
      height: 100%;
      width: 40%; }
      .right-main .slider-body .slider-body-description p {
        color: #00897B; }
    .right-main .slider-body .slider-body-images {
      width: 60%;
      max-width: 60%; }
    .right-main .slider-body .slider-tags {
      width: 100%;
      height: 40px;
      background-color: #1abc9c;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 5px;
      margin-bottom: 20px; }
      .right-main .slider-body .slider-tags h4 {
        color: #fff; }
        .right-main .slider-body .slider-tags h4:not(:last-child) {
          padding-right: 8px; }
  .right-main .slider-inside:nth-child(odd) {
    background-color: #E0F2F1; }

.content-wrapper {
  width: 80%;
  margin: 0 auto;
  display: table;
  min-height: 800px; }

.content {
  display: table-cell;
  width: 100%;
  vertical-align: middle; }

/* End Global Styles */
/* Start Nav Styles */
.navbar {
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 50px;
  transform: translateY(-50%); }

.navbar .nav-menu {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.navbar .nav-menu li {
  position: relative;
  min-width: 200px;
  padding-bottom: 20px;
  text-align: right; }

.navbar .nav-menu li .dot {
  display: block;
  color: #fff;
  padding: 5px 0; }

.navbar .nav-menu li .dot::before,
.navbar .nav-menu li .dot::after {
  display: block;
  position: absolute;
  content: '';
  border-radius: 50%;
  top: 50%;
  transition: all .3s ease; }

.navbar .nav-menu li .dot::before {
  width: 5px;
  height: 5px;
  right: 0;
  border: 2px solid #181818;
  transform: translateY(-50%); }

.navbar .nav-menu li .dot::after {
  width: 15px;
  height: 15px;
  border: 2px solid #00897B;
  right: -5px;
  transform: translateY(-50%) scale(0); }

.navbar .nav-menu li .dot.active::before,
.navbar .nav-menu li:hover .dot::before {
  background: #1abc9c;
  border-color: #1abc9c; }

.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after {
  transform: translateY(-50%) scale(1); }

.line {
  height: calc(100vh - 60px);
  width: 1px;
  background-color: #1abc9c; }

.responsive-image {
  max-width: 100%; }

.cell img {
  display: block; }

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }

  .cell {
    width: 50%; } }
@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3); } }

/*# sourceMappingURL=timeline.css.map */
